.twotexts, .thirdtextbt {
 display: flex;
 justify-content: space-evenly;
}
.selecttext{
    margin-right: 20px;
}
.addndbt {
    margin-top:0px;
    margin-bottom:20px;
}
.addrdbt {
    margin-top:15px;
    margin-bottom:20px;
}
.attachimg {
    width: 50px;
 
}
/* .upload label{
    margin-left: -50px;
}
.uploadtext {
    margin-right: 20px;
}  */
.upload {
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
   }

   @media only screen and (max-device-width: 900px) {
    .thirdtextbt {
        margin-top:-15px;
    }
       .twotexts input, .thirdtextbt input {
       
        margin-left:5px;
        font-size: 10pt;
     }  
     .addrdbt {
       margin-right: 10px
    }
    .selecttext{
      display:block;
      margin-bottom:10px
    } 
    .sizecontainer {
        display:none;
    }
  }
   